<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(ElorMaui.Components.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(ElorMaui.Components.Layout.MainLayout)">
            <h3>No encontrado</h3>
        </LayoutView>
    </NotFound>
</Router>
